*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nitti Grotesk, Helvetica Neue, Arial, sans-serif;
}

.home{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.blogposts {
  background-image: url('./components/img/reactLogo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  font-size: 100px;
  display: flex;
  height: 90vh;
  /* align-items: center; */
  justify-content: center;
  /* font-size: 3rem; */
}

.contact {
  background-image: url('./components/img/reactLogo.png');
  image-rendering: pixelated;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  font-size: 100px;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.signup {
  background-image: url('./components/img/reactLogo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 30px;
  /* display: flex; */
  /* justify-content: center; */
  height: 90vh;
}